<%- include('../Includes/Head.ejs') %>

<!-- BEGIN:  CSS-->
<link rel="stylesheet" type="text/css" href="/css/vendors.min.css" />

<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/css/bootstrap-extended.css" />
<link rel="stylesheet" type="text/css" href="/css/colors.css" />

<link rel="stylesheet" type="text/css" href="/css/components.css" />
<link rel="stylesheet" type="text/css" href="/css/vertical-menu.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" type="text/css" href="/css/ns-default.css" />
<link rel="stylesheet" type="text/css" href="/css/ns-style-growl.css" />
<script src="/js/modernizr.custom.js"></script>



<!-- END: CSS-->
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<!-- body tag and blue nav bar  -->
<%- include('../Includes/docNav.ejs') %>

<!-- complete side menu of doctor -->
<%- include('../Includes/docSideMenu.ejs') %>

<!-- BEGIN: Content-->

<!--SMS pop up -->
<div class="modal fade text-left" id="primary" tabindex="-1" role="dialog" aria-labelledby="myModalLabel160"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title white" id="myModalLabel160">
                    SEND MESSAGE
                </h5>
            </div>
            <div class="modal-body">
               
                    <input type="hidden" id="hdnPatientName" value="" >
                    <input type="hidden" id="hdnPhone" value="" >
                    <label>Enter Your Message Here </label>
                    <textarea class="form-control" id="smsReminder" rows="4"
                        placeholder="Hello I am Doctor ABC . Your consultation Session will be start in 15minutes. Please stay Online. Thank you"></textarea>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
                    <span class="d-none d-sm-block">Close<i class="bx bx-x sms-popup"></i></span>
                </button>
                <button type="button" class="btnSendSMSReminder btn btn-primary ml-1" data-dismiss="modal">
                    <span class="d-none d-sm-block">Send<i class="bx bx-send sms-popup"></i></span>
                </button>
            </div>
        </div>
    </div>
</div>
<!--END OF SMS POPUP-->

<!--start of EMR detail-->
<div class="modal fade text-left" id="viewhistory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel160"
    aria-hidden="true">

</div>

<!--end of EMR detail-->
<script id="viewHistory-template" type="text/html">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
    <div class="modal-header bg-primary">
    <h5 class="modal-title white" id="myModalLabel160">
    PATIENT HISTORY
    </h5>
    </div>
    <div class="modal-body History-modal">
    <div class="card-content side-bar">
    <div class="card-body">
    
    <div class="media">
    <div class="pr-50 doc-img">
    {{#ProfilePicture}}
    <img src="{{ProfilePicture}}" alt="avtar img holder">
    {{/ProfilePicture}}
    {{^ProfilePicture}}
    <img src="/assets/images/patient.png" alt="avtar img holder">
    {{/ProfilePicture}}
    </div>
    <div>
    <h5 class="media-heading">
    <br /> <b>{{PatientName}}</b>
    </h5>
    <div>
    <p> <b>Contact Number</b>: {{PatientPhone}}</p>
    </div>
    </div>
    </div>
    <div >
    <br />
    
        <h6 class="history-popup" >  <b>History and Exams</b> </h6>
        <p class="history-text" >   {{HistoryAndExam}}       </p>
      </div>

      <div>
        <h6 class="history-popup">  <b>Allergies</b> </h6>
        <p class="history-text">   {{Allergies}}   </p>
      </div>

      <div>
        <h6 class="history-popup">   <b>Diagnosis</b> </h6>
        <p class="history-text">   {{Diagnosis}}    </p>
      </div>

      <div>
        <h6 class="history-popup">  <b>RX</b>    </h6>
        <p class="history-text">  {{PatientRX}}  </p>
      </div>
      <div>
        <h6 class="history-popup">  <b>Medication</b>    </h6>
        <p class="history-text">  {{Medication}}  </p>
      </div>

   
    <div class="modal-footer">
    <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
    <i class="bx bx-x d-block d-sm-none"></i>
    <span class="d-none d-sm-block">Close</span>
    </button>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </script>
<!-- start modal on prescription  -->
<div class="modal-primary mr-1 mb-1 d-inline-block">
    <!-- Button trigger for primary themes modal -->

    <div class="modal fade text-left" id="prescription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel160"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title white" id="myModalLabel160">
                        PATIENT HISTORY
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="card-content side-bar">
                        <div class="card-body">
                            <div class="media">
                                <a class="pr-1" href="#">
                                    <img id="imgPatient" src="" alt="image" style="
                                        height: 100px;
                                        width: 100px;
                                        border-radius: 50%;" />
                                </a>
                                <div>
                                    <h5 class="media-heading">
                                        <span id="patientName"></span>
                                    </h5>
                                    <div id="details">

                                    </div>
                                </div>
                            </div>
                            <br />
                            <input type="hidden" id="hdncallLogId" value="">
                            <label class="prescription-card">History
                                and Exams</label>
                            <textarea class="form-control" id="txtExam" rows="3"
                                placeholder="Write History and Exams"></textarea>

                            <label class="prescription-card">Allergies
                            </label>
                            <textarea class="form-control" id="txtAllergies" rows="3"
                                placeholder="Write about Allergies"></textarea>

                            <label class="prescription-card">Diagnosis
                            </label>
                            <textarea class="form-control" id="txtDiagnosis" rows="3"
                                placeholder="Write Diagnosis"></textarea>
                            <label class="prescription-card">RX
                            </label>
                            <textarea class="form-control" id="txtRx" rows="3" placeholder="Write RX "></textarea>
                            <label class="prescription-card">Medication
                            </label>
                            <textarea class="form-control" id="txtmedication" rows="3"
                                placeholder="Write Medication for Patient"></textarea>


                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnSaveUpdateEMR" type="button" class="btn btn-light-primary">
                        <i class="bx bx-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Save</span>
                    </button>
                    <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Close</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- start end on prescription  -->
<!-- Scheduled Tempates-->
<script id="Scheduled-template" type="text/html">
        {{#PatientScheduleded}}
        <li class="timeline-items timeline-icon-primary active pb-0">
            <div class="timeline-time">
                <button   type="button"
                 docID="{{DoctorID}}" PName="{{patientName}}" patientId="{{PatientID}}" scheId = "{{scheduledID}}"
                    class="btn btn-outline-primary round mr-1 mb- btnAcceptSch">
                    <i class="bx bx-purchase-tag"></i>
                    <b>Check in</b>
                </button>
            </div>
           <div>
                <h6 class="timeline-title">
              <strong>  {{patientName | Upper}}</strong>
            </h6>
            <p class="timeline-text">
                {{patientPhone}}
                <br />
            </p>
            <P class="timeline-text">
                {{Gender}}
            </p>
        <p class="timeline-text">
                {{BookedDateTime | date}}&nbsp;<strong>{{AppointmentStartTime}}-{{AppointmentEndTime}}</strong>
            </p>
        </div>
        </li>
       {{/PatientScheduleded}}

       {{^PatientScheduleded.0}}
        <li class="timeline-items timeline-icon-primary active pb-0">
            <h6 class="timeline-title">
                No schedule available
            </h6>
        </li>
       {{/PatientScheduleded.0}}
    </script>
<!--end of Scheduled Template-->

<!--start of request call Templates-->
<script id="req-template" type="text/html">
        {{#RequestedCall}}
        <li class="timeline-items timeline-icon-primary active pb-0">
            <div class="timeline-time">
                <button type="button" type="button" docID="{{DoctorID}}" 
                patientId="{{PatientID}}" PName="{{patientName}}" callreqID="{{CallrequestID}}" username="{{PatientUserName}}"
                    class="btn btn-outline-primary round mr-1 mb-1 btnAcceptCall ">
                    <i class="bx bx-purchase-tag"></i>
                    <b>Check in</b>
                </button>
                <button  type="button" docID="{{DoctorID}}"  PName="{{patientName}}"
                patientId="{{PatientID}}" callreqID="{{CallrequestID}}"
                  class="btn btn-icon rounded-circle btn-outline-danger mr-1 mb-1 btnRejectCall">
                    <i class="bx bx-x"></i>
                </button>
            </div>
          <div>
                <h6 class="timeline-title">
              <strong>  {{patientName | Upper}} </strong>
            </h6>
            <p class="timeline-title">
                {{patientPhone}}
            </p>
            <P class="timeline-title">
                {{Gender}}
            </p>
            <p class="timeline-text">
                {{CallRequestDateTime | date}}
            </p>
        </div>
        </li>
      
       {{/RequestedCall}}

       {{^RequestedCall.0}}
       <li class="timeline-items timeline-icon-primary active pb-0">
            <h6 class="timeline-title">
                No schedule available
            </h6>
        </li>
       {{/RequestedCall.0}}

    </script>
<!--end of request call Template-->
<!--start of que Templates-->
<script id="que-template" type="text/html">
    {{#result}}
     <!-- Patient one  -->
     <div class="row" style="margin: 1%;">
        <div class="col-md-7 col-sm-12">
            <div class="d-inline-block">
                <div class="pr-50" style="display: inline-block; align-self: stretch;">
                    {{#PatientPhoto}}
                    <img
                    src="{{PatientPhoto}}"
                    alt="image"
                    style="
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    vertical-align: unset;
                  "
                  />
                 {{/PatientPhoto}}
                 {{^PatientPhoto}}
                 <img
                 src="/assets/images/maledoc.png"
                 alt="image"
                 style="
                 width: 80px;
                 height: 80px;
                 border-radius: 50%;
                 vertical-align: unset;
               "
               />
                 {{/PatientPhoto}}
               </div>

                    <div style="display: inline-block;">
                        <h6 style="padding-top: 2%;">
                            <b>{{PatientName | Upper}}</b> &nbsp;(<span style="
                            
                            color: #39da8a;
                            font-weight: 300;"><b>{{RequestType}} -
                              <!-- <span
                                class="bullet bullet-success bullet-sm"></span> online -->
                                {{#OnlineStatus}}
                                <span class="bullet bullet-success bullet-sm"></span>          
                                <span style="color: #39da8a; font-weight: 300;"><b>Online</b></span>
                                {{/OnlineStatus}}
                                {{^OnlineStatus}}
                                <span class="bullet bullet-offline bullet-sm"></span>          
                                <span style="color: #ee1516; font-weight: 300;"><b>Offline</b></span>
                                {{/OnlineStatus}}                            
                            </b>                            
                            </span>)
                        </h6>

                        <p><b>Contact :</b> {{PatientPhone}}</p>
                        <p><b>Added on :</b> {{{CallQueDateTime}}}</p> 
                        <p><b>Patient waiting since :</b> 
                        <input type= "hidden" class="hdnCallQueDate" value="{{{CallQueDateTime}}}" >
                        <span class="spnWaitingTime">
                           {{{CallQueDateTime}}}    
                        </span>
                              </p>
                        
                    </div>
                </div>
            </div>
        
        <div class="col-md-5 col-sm-12 text-md-right">
            <div class="row call-Queue-icons">
                {{#OnlineStatus}}
                <a >
                    <button type="button" patientName="{{PatientName}}" 
                     CallQueId="{{CallQueID}}"  cLogId ="0" patientID ="{{PatientID}}" 
                     onclick="OpenCommunicationWindow(this)" 
                     class="btn btn-outline-primary round mr-1 mb-1">
                        <i class="bx bx-microphone"></i>
                        <b>Audio</b>
                    </button>
                </a>
                <a>
                    <button type="button"  patientName="{{PatientName}}" 
                    CallQueId="{{CallQueID}}" cLogId ="0" patientID ="{{PatientID}}" 
                     onclick="OpenCommunicationWindow(this)" 
                     class="btn btn-outline-primary round mr-1 mb-1">
                        <i class="bx bx-video"></i>
                        <b>Video</b>
                    </button>
                </a>        
                {{/OnlineStatus}}
                {{^OnlineStatus}}
                <a >
                    <button type="button" disabled
                     class="btn btn-outline-primary round mr-1 mb-1">
                        <i class="bx bx-microphone"></i>
                        <b>Audio</b>
                    </button>
                </a>
                <a>
                    <button type="button" disabled
                     class="btn btn-outline-primary round mr-1 mb-1">
                        <i class="bx bx-video"></i>
                        <b>Video</b>
                    </button>
                </a>    
                {{/OnlineStatus}}



                <div class="modal-primary mr-1 mb-1 d-inline-block">
                    <!-- Button for SMS Popup -->
                    <button type="button"patientName="{{PatientName}}"  phoneNo="{{PatientPhone}}"
                     class="btnpopupSmsReminder btn btn-outline-primary round"
                        >
                        <i class="bx bxs-chat"></i>
                        <b>SMS</b>
                    </button>                    
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- patient one ends -->
    <hr />
  
   {{/result}}

   {{^result.0}}   
        <h6 class="timeline-title">
            No Call Que Available
        </h6>   
   {{/result.0}}
</script>
<!--end of que template-->

<!--start of Call Log Template-->
<script id="callLog-template" type="text/html">
    {{#result}}
    <tr>
        <td>{{PatientName}}</td>
        <td>{{PatientPhone}}</td>
        <td>
            {{CallLogAddDateTime}}
        </td>
        <td>{{OnCallDuration}}</td>

        <td>            
                <button type="button" cLogId="{{CallLogID }}"
                    class="btn_complateCall btn btn-outline-primary round mr-1 mb-1 btn-sm">
                    Complete
                </button>            
        </td>
        <td>
            <!-- modal on eye icon close-->
            <a href="#" patientName="{{PatientName}}"  PatientID="{{PatientID}}"   cLogId="{{CallLogID }}" CallQueId="0" 
            onclick="OpenCommunicationWindow(this)" data-toggle="tooltip" data-placement="bottom" title="Audio Call" >
            <i class="bx bx-microphone"></i>
            </a>
            
            <a href="#" patientName="{{PatientName}}" PatientID="{{PatientID}}"  cLogId="{{CallLogID }}" CallQueId="0" 
             onclick="OpenCommunicationWindow(this)" data-toggle="tooltip" data-placement="bottom" title="Video Call">
            <i class="bx bx-video"></i>
            </a>
            
           
            
            <a href="#" class="btnViewHistory" cLogId="{{CallLogID }}"  data-toggle="tooltip" data-placement="bottom" title="View History" >
            <i class="bx bx-show "></i>
            </a>
            
            <a href="#" class="btnUpdatePrescription" callLogId="{{CallLogID}}"
            phone ="{{PatientPhone}}" patientName="{{PatientName}}" visitDt = "{{CallLogAddDateTime}}"
            patientPhoto="{{PatientPhoto}}" data-toggle="tooltip" data-placement="bottom" title="Update Prescription" >
            <i class="bx bxs-file-plus "></i>
            </a>
            </td>


            
    </tr>
{{/result}}

{{^result}}
<div class="card-content">
    <div class="card-body pb-0" id="QueTemplate"> 

<h6 class="timeline-title">
No Call Log Available
</h6>   
</div>
</div>
{{/result}}
</script>
<!--start of Call Log Template-->

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row"></div>
        <div class="content-body">
            <div class="d-flex flex-row">
                <div class="page-heading">
                    <h3>DOCTOR DASHBOARD</h3>
                </div>
            </div>

            <!-- Dashboard Start -->
            <section id="dashboard-analytics">
                <div class="row">
                    <!-- Scheduled appointment Starts -->
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-12">
                                <div class="card widget-todo" style="height: 450px; overflow: auto;">
                                    <div
                                        class="card-header border-bottom d-flex justify-content-between align-items-center flex-wrap dashboard-heading-1">
                                        <h6 class="card-title d-flex mb-25 mb-sm-0 dashboard-headings">
                                            SCHEDULED APPOINTMENTS
                                        </h6>
                                    </div>
                                    <div class="card-content">
                                        <div class="card-body">
                                            <ul class="widget-timeline mb-0" id="schTemplate">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Scheduled appointment ends -->

                    <!-- Direct Calls Card Starts -->
                    <div class="col-sm-6">
                        <div class="card" style="height: 450px; overflow: auto;">
                            <div class="card-header dashboard-heading-1">
                                <h6 class="card-title dashboard-headings">
                                    DIRECT CALLS

                                </h6>
                            </div>
                            <hr />
                            <div class="card-content">
                                <div class="card-body">
                                    <ul class="widget-timeline" style="list-style: none;" id="reqTemplate">

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Direct Calls Card ends -->
                </div>
            </section>
            <!-- Dashboard  end -->

            <!-- Call Queue Start -->
            <section id="table-Marketing">
                <div class="card" style="height: 350px; overflow: auto;">
                    <div class="card-header call-queue-head">
                        <h6 class="card-title dashboard-headings">CALL QUEUE</h6>
                        <div class="heading-elements"></div>
                    </div>
                    <hr />
                    <div class="card-content">
                        <div class="card-body pb-0" id="QueTemplate">


                        </div>
                    </div>
                </div>
            </section>

            <!-- Call Queue Ends -->

            <!-- Previous Patient table start -->
            <div class="row" id="table-hover-row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header call-log-header">
                            <h6 class="card-title dashboard-headings">
                                RECENT CALL LOGS
                            </h6>
                        </div>
                        <hr />
                        <div class="card-content">
                            <!-- table hover -->
                            <div class="table-responsive">
                                <table class="table table-hover mb-0 tblCallLogs">
                                    <thead class="tablehead">
                                        <tr>
                                            <th class="tableheader">CONSULTATION</th>
                                            <th class="tableheader">PHONE</th>
                                            <th class="tableheader">DATE & TIME</th>

                                            <th class="tableheader">DURATION</th>
                                            <th class="tableheader">ACTIVITY</th>
                                            <th class="tableheader">ACTIONS</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tblCallLogs">


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Previous Patient table end -->
        </div>
    </div>
</div>
<!-- END: Content-->

<!-- END: Content-->

<!-- BEGIN: JS-->


<script src="/js/vendors.min.js"></script>
<script src="/js/sweetalert2.all.min.js"></script>
<script src="/js/polyfill.min.js"></script>
<script src="/js/sweet-alerts.js"></script>


<script src="/js/vertical-menu-light.js"></script>
<script src="/js/app-menu.js"></script>
<script src="/js/app.js"></script>
<script src="/js/app-kanban.js"></script>
<!-- END: JS-->
<script src="/js/classie.js"></script>
<script src="/js/notificationFx.js"></script>

<!-- BEGIN: Services calling JS-->
<script src="/js/Services/DoctorDashBoardServices.js"></script>
<script src="/js/Services/loadingoverlay.min.js"></script>

<%- include('../Includes/End.ejs') %>