<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <title><%= pageTitle %></title>

  <!-- <title>Hello</title> -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet" />

  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/icofont.min.css" rel="stylesheet" />

  <!-- Main  landing CSS File -->
  <link href="/css/landingstyle.css" rel="stylesheet" />



</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container">
      <div class="header-container d-flex align-items-center">
        <div class="logo mr-auto">
          <h1 class="text-light">
            <a href="/"><img src="/assets/logo.png"></a>

          </h1>
          <!-- for logo -->
          <!-- <a href="/"><img src="img src" alt="" class="img-fluid"></a>-->
        </div>

        <nav class="nav-menu d-none d-lg-block" style="width: 100%;">
          <ul>
            <li class="active"><a href="#header">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
          <ul" class="right-nav justify-content-end">
            <!-- <li class="get-started">
                <a href="/docdashboard">Doctor Dashboard</a>
              </li> -->

            <li class="get-started">
              <a href="/login">Login</a>
            </li>
            <li class="get-started">
              <a href="/signup">Register</a>
            </li>
            </ul>
        </nav>
        <!-- .nav-menu -->
      </div>
      <!-- End Header Container -->
    </div>
  </header>
  <!-- End Header -->

  <!-- content start-->
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logistics Task</title>
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  </head>

  <body>


    <div class="jumbotron">
      <div class="container">

        <div>
          <h1 class="main-heading">Easy and Quick Online <br />Pscyhiatric Consultations!
            <br />

            Call A Doctor</h1>

        </div>
        <div style="text-align: center; ">
          <img src="/assets/hero_Illustration.png" style="height: auto; width: 100%;" />

        </div>

      </div>
    </div>


    <!-- //////////////HOW KINDAHCARE WORKS///////////////////// -->
    <div class="container">
      <div class="separator"><span class="hr-text">HOW KINDAHCARE WORKS</span></div>
      <br />
      <div class="KindahWorks-innerDiv">
        <div class=" inner-div col-sm-4 text-center" style="padding-left: 0px !important;">
          <h5 class="first-sec-head" style="background-color: #0962ff !important;">Register</h5>
          <br />
          <img src="/assets/Icon.svg" />

          <p>
            <br />

            Sign up / Sign in for an account, register your details and get started.
          </p>

        </div>
        <div class="inner-div col-sm-4 text-center" style="padding-right: 0px !important;">
          <h5 class="first-sec-head">Choose a Doctor & Pay</h5>
          <br />
          <img src="/assets/Icon-1.svg" />

          <p>
            <br />
            Search through our network of board-certificate doctors and
            choose the one that's right for you. You can wait to see a doctor
            today or schedule your appointment for a time that works for you. </p>

        </div>
        <div class="inner-div col-sm-4 text-center" style="padding-right: 0px !important;">
          <h5 class="first-sec-head" style="background-color: #0962ff !important;">Talk to a Doctor</h5>
          <br />
          <img src="/assets/Icon-2.svg" />

          <p>
            <br />
            When an appointment is due the video session will start with your doctor.

          </p>

        </div>
      </div>
    </div>

    <br />
    <br />
    <!-- ////////////////CONDITIONS WE TREAT/////////////////// -->
    <div class="container">
      <div class="separator"><span class="hr-text">CONDITIONS WE TREAT</span></div>
    </div>
    <br />
    <div>
      <div class="row" style="margin-right: 0px !important; margin-left: 0px !important; background: linear-gradient(180deg, #355E9C 0%, #53D9BC 100%);
  opacity: 0.9;">
        <div class="col-md-7">
          <img src="/assets/bg_Image.png" height="100%" width="100%" />
        </div>
        <div class="col-md-5">

          <ul style="margin-top: 5%; margin-left: 5%; list-style: none; color: #fff;">
            <li class="list-condition"> <img src="/assets/Anxiety.svg" /><span class="li-text">Anxiety</span></li>
            <li class="list-condition"> <img src="/assets/Depression.svg" /><span class="li-text">Depression</span></li>

            <li class="list-condition"> <img src="/assets/Bipolar Disorder.svg" /><span class="li-text">Bipolar</span>
            </li>
            <li class="list-condition"> <img src="/assets/Stress Management.svg" /><span class="li-text">Stress
                Management</span></li>
            <li class="list-condition"> <img src="/assets/Grief and Loss.svg" /><span class="li-text">Grief and
                Loss</span>
            </li>
            <li class="list-condition"> <img src="/assets/Trauma and PSTD.svg" /><span class="li-text">Trauma &
                PTSD</span>
            </li>
            <li class="list-condition"> <img src="/assets/Relationship Issue.svg" /><span class="li-text">Relationship
                Issues</span></li>

            <li class="list-condition"> <img src="/assets/Panic disorders.svg" /><span class="li-text">Panic
                Disorders</span></li>
            <li class="list-condition"> <img src="/assets/Addictions.svg" /><span class="li-text">Addictions</span></li>
            <li class="list-condition"> <img src="/assets/And More.svg" /><span class="li-text">Add More . . . </span>
            </li>
            <br />

          </ul>

        </div>
      </div>
    </div>

    <br />
    <br />
    <br />
    <br />
    <!-- //////////////High Definition Video and Audio Consultations///////////////////// -->
    <div class="container">
      <div class="row">

        <br />
        <br />
        <div class="col-md-6">
          <h4 class="highdef-heading">High Definition Video and <br />Audio Consultations</h4>
          <br />
          <p>
            Experience Frictionless Real-Time Patient Assesment from any Remote Location.
          </p>
          <h5><img src="/assets/E-PrescriptionIcon.svg" /> E-Prescription </h5>
          <br />
          <p>Instant E-Prescription , Delivered to you via SMS and Email.</p>

          <br />
          <h5><img src="/assets/VideoCallingIcon.svg" /> Video Calling</h5>
          <br />
          <p>Ultra-high-definition video and crystal-clear audio enables you to enhance video visits and patient
            monitoring in remote and rural areas all at your comfort level</p>

        </div>
        <div class="col-md-6">

          <img src="/assets/audio&VideoConsultationIillustration.svg" width="100%" height="100%" />

        </div>
      </div>
    </div>

    <br />
    <br />
    <!-- //////////////TESTIMONIALS//////////////////// -->
    <div class="container">
      <div class="separator"><span class="hr-text">TESTIMONIALS</span></div>
      <br />
      <br />
      <div class="row ">
        <div class="col-md-4">
          <img src="/assets/author_profile.png" width="100%" height="100%" class="testimonial-img" />
        </div>
        <div class="col-md-8">

          <div class="container test-div">

            <img src="/assets/quote.svg" class="img-section" />
            <br />
            <br />
            <h5 class="testimonial-heading">
              Search through our network of board-certificate doctors and
              choose the one that's right for you.
            </h5>
            <br />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pharetra dictum euismod. Nunc in efficitur
              est. In mollis
              volutpat ante. Nullam semper quis sem quis aliquam. Nunc elit urna, consequat sed ante feugiat, tincidunt
              dictum mi.
              Aenean euismod nunc vel lacus viverra, sed dignissim tellus blandit. Pellentesque sit amet diam in lectus
            </p>
          </div>

        </div>
      </div>
      <br />
      <br />
    </div>

    <br />
    <br />
    <!-- //////////////OUR DOCTORS///////////////////// -->
    <div class="doc-div">
      <div class="container">
        <div class="separator"><span class="hr-text">OUR DOCTORS</span></div>
        <br />
        <div class="doc-heading">
          Our doctors are specialized in their field and have more than 10 years of Experience
        </div>
        <br />
        <div class="KindahWorks-innerDiv ">
          <div class="  col-sm-4 text-center">

            <div class="doc-card">
              <img src="/assets/team-image.png" class="doc-image" />
              <br />
              <div class="doc-card-content">
                <h6 class="doc-name">Dr Veranda Trepathali</h6>
                <h6 class="doc-spec">Dental</h6>
                <p>Please fill out the form correctlly. All of the data will be secured in database securely.</p>
              </div>
            </div>

          </div>
          <div class="col-sm-4 text-center" style="padding-right: 0px !important;">

            <div class="doc-card">
              <img src="/assets/team-image-1.png" class="doc-image" />
              <br />
              <div class="doc-card-content">
                <h6 class="doc-name">Dr Veranda Trepathali</h6>
                <h6 class="doc-spec">Dental</h6>
                <p>Please fill out the form correctlly. All of the data will be secured in database securely.</p>
              </div>
            </div>

          </div>
          <div class=" col-sm-4 text-center" style="padding-right: 0px !important;">

            <div class="doc-card">
              <img src="/assets/team-image-2.png" class="doc-image" />
              <br />
              <div class="doc-card-content">
                <h6 class="doc-name">Dr Veranda Trepathali</h6>
                <h6 class="doc-spec">Dental</h6>
                <p>Please fill out the form correctlly. All of the data will be secured in database securely.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <br />
    </div>


    <!-- //////////////HOW KINDAHCARE WORKS///////////////////// -->
    <div class="footer">
      <div class="container">

        <div class="row ">
          <div class="col-md-8 foot-row ">
            <h4> Contact Details</h4>
            <hr />
            <div class="row">
              <div class="col-sm-4">

                <p>33 Farlane Street</p>
                <p>kielor East</p>
                <p>VIC 3033 , Australia</p>
              </div>
              <div class="col-sm-4">

                <p>+973 123 655 655</p>
                <p>+973 655 755 446</p>
              </div>
              <div class="col-sm-4 ">

                <p>onfo@reachoutphysician.com</p>
              </div>
            </div>
            <br />
            <br />
            <h4>SUBSCRIBE FOR LATEST UPDATES</h4>
            <HR />
            <P>for latest updates enter your email address.</P>
            <div class="buttonIn">
              <input type="text" id="enter" placeholder=" ENTER YOUR EMAIL HERE">
              <button id="clear"><span class="subs">SUBSCRIBE</span></button>
            </div>
          </div>
          <div class="col-md-4 foot-row">

            <h4>FOLLOW US </h4>
            <hr />
            <div>
              <img src="/assets/Facebook.svg" class="social-icon" />
              <img src="/assets/Instagram.svg" />
              <img src="/assets/Twitter.svg" />
              <img src="/assets/linkedin.svg" />
            </div>

          </div>
        </div>
        <br />
        <br />
        <div class="row">
          <div class="col-md-8">
            <p> &copy; 2020 KindahCare. All Rights Reserved</p>
          </div>
          <div class="col-md-4">
            <p>Powered by KindahCare Developers Team</p>
          </div>
        </div>
      </div>

    </div>

  </body>

  </html>
  <!-- End content-->

  <!-- Vendor JS Files -->
  <script src="/js/jquery.min.js"></script>

  <!--  Main JS landing page File -->
  <script src="/js/mainlanding.js"></script>
</body>

</html>